.portfolio-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 300px;
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 180px;
}

.portfolio-item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Modal Styling */
.modal {
  backdrop-filter: blur(4px);
}

.modal-dialog {
  color: white;
  background: transparent;
  border-radius: 2rem;
  padding: 2rem 0;
}

.modal-content {
  background: var(--color-bg-variant);
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

/* ----------- MEDIA QUERIES (MEDIUM DEVICES) ----------- */
@media screen and (max-width: 1024px) {
  .portfolio-container {
    
  }
}

/* ----------- MEDIA QUERIES (SMALL DEVICES) ----------- */
@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
